body {
    margin-bottom: 8%;
}

input {
    border: 1px solid black;
    border-radius: 2em;
    background: transparent;
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
}

input:focus {
    outline: none;
}

button {
    border-radius: .4em;
    border: 1px solid black;
    font-size: 16px;
    padding: 10px 16px 12px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: black !important;
    color: white;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.bg-gradient {
    background-image: var(--accent-gradient);
    
}