---
import BlogsLayout from "@layouts/blogsLayout.astro";
import Content from "@components/blogs/how-to-write-code-faster-in-react-with-vs-code.md";
---

<BlogsLayout title="How-to-write-code-faster-in-react-with-vs-code">
  <div class="max-w-screen-md mx-auto">
    <Content />
  </div>
</BlogsLayout>
